<div>
<div>
myProfile
</div>
</div>
<!-- <div ng-repeat="user in users">
<h3>{{email}}</h3>	
<h3>{{user.email}}</h3>	  // ovaj red je bio za proveru
<h3>{{users.email}}</h3>	
<hr> -->

</div>
<div>
<h3>{{email}}</h3>	
<p>email</p><h3>{{user.email}}</h3>
<p>password</p><h3>{{user.password}}</h3>
<p>name</p><h3>{{user.name}}</h3>	
<p>id</p><h3>{{user.id}}</h3>	
<p>date</p><h3>{{user.date | date : 'short'}}</h3>
<p>modifiedUser</p><h3>{{user.modifiedUser | date : 'short'}}</h3>
</div>

<button  data-ng-click="logout()">LOGOUT</button> 
<button  data-ui-sref='editProfile'>EDIT PROFILE</button> 
